.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.967285;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.943848;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.249850,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249850,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249850,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-4.141286px;}
._2{margin-left:-2.908437px;}
._0{margin-left:-1.810573px;}
._3{width:1.028967px;}
._a{width:2.097038px;}
._b{width:3.111772px;}
._9{width:4.131979px;}
._8{width:5.358207px;}
._7{width:6.467007px;}
._1{width:7.806822px;}
._4{width:8.959038px;}
._e{width:10.484028px;}
._c{width:18.275632px;}
._d{width:19.374875px;}
._6{width:58.530217px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.159982px;}
.y1a{bottom:100.879960px;}
.y19{bottom:125.359950px;}
.y18{bottom:174.319930px;}
.y17{bottom:224.239910px;}
.y16{bottom:297.799881px;}
.y15{bottom:312.319875px;}
.y14{bottom:327.199869px;}
.y13{bottom:376.639849px;}
.y12{bottom:391.039844px;}
.y11{bottom:405.559838px;}
.y10{bottom:420.079832px;}
.yf{bottom:434.599826px;}
.ye{bottom:449.119820px;}
.yd{bottom:463.999814px;}
.yc{bottom:513.439795px;}
.yb{bottom:527.839789px;}
.ya{bottom:542.359783px;}
.y9{bottom:556.879777px;}
.y8{bottom:571.759771px;}
.y7{bottom:621.199752px;}
.y6{bottom:635.719746px;}
.y5{bottom:650.239740px;}
.y4{bottom:664.639734px;}
.y3{bottom:679.159728px;}
.y2{bottom:694.039722px;}
.y1{bottom:745.039702px;}
.y0{bottom:760.399696px;}
.h2{height:32.516237px;}
.h1{height:36.419048px;}
.h0{height:842.000000px;}
.w0{width:595.000000px;}
.x0{left:103.199959px;}
.x2{left:114.119980px;}
.x1{left:121.199981px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-5.521714pt;}
._2{margin-left:-3.877917pt;}
._0{margin-left:-2.414098pt;}
._3{width:1.371956pt;}
._a{width:2.796051pt;}
._b{width:4.149029pt;}
._9{width:5.509305pt;}
._8{width:7.144276pt;}
._7{width:8.622676pt;}
._1{width:10.409097pt;}
._4{width:11.945384pt;}
._e{width:13.978705pt;}
._c{width:24.367509pt;}
._d{width:25.833166pt;}
._6{width:78.040289pt;}
.fs0{font-size:58.879976pt;}
.y1a{bottom:134.506613pt;}
.y19{bottom:167.146600pt;}
.y18{bottom:232.426574pt;}
.y17{bottom:298.986547pt;}
.y16{bottom:397.066508pt;}
.y15{bottom:416.426500pt;}
.y14{bottom:436.266492pt;}
.y13{bottom:502.186466pt;}
.y12{bottom:521.386458pt;}
.y11{bottom:540.746450pt;}
.y10{bottom:560.106443pt;}
.yf{bottom:579.466435pt;}
.ye{bottom:598.826427pt;}
.yd{bottom:618.666419pt;}
.yc{bottom:684.586393pt;}
.yb{bottom:703.786385pt;}
.ya{bottom:723.146377pt;}
.y9{bottom:742.506370pt;}
.y8{bottom:762.346362pt;}
.y7{bottom:828.266335pt;}
.y6{bottom:847.626328pt;}
.y5{bottom:866.986320pt;}
.y4{bottom:886.186312pt;}
.y3{bottom:905.546304pt;}
.y2{bottom:925.386297pt;}
.y1{bottom:993.386269pt;}
.y0{bottom:1013.866261pt;}
.h2{height:43.354983pt;}
.h1{height:48.558731pt;}
.h0{height:1122.666667pt;}
.w0{width:793.333333pt;}
.x0{left:137.599945pt;}
.x2{left:152.159974pt;}
.x1{left:161.599975pt;}
}
